{% extends "./preregistration/preregbase.html" %}
{% block title %}Art Show {{ c.ART_SHOW_APP_TERM|title }} Received{% endblock %}
{% block content %}
<div class="card">
  <div class="card-body">
    <h2>We've received your reservation, thanks!</h2>

    <p>You requested {{ app.panels }}
    wall space{{ app.panels|pluralize }} and {{ app.tables }} half-table{{ app.tables|pluralize }} in the General gallery,
    and {{ app.panels_ad }} wall space{{ app.panels_ad|pluralize }} and {{ app.tables_ad }} half-table{{ app.tables_ad|pluralize }}
    in the Mature gallery.</p>

    {% if app.attendee.badge_status == c.NEW_STATUS %}
    <p>We've created a badge for you based on your information. You may complete your registration
    <a href="../preregistration/confirm?id={{ app.attendee_id }}" target="_blank">here</a> or wait and pay for your badge
    if and when your {{ c.ART_SHOW_APP_TERM }} is approved.</p>
    {% endif %}

    <h3>What Happens Next</h3>
    <p>
      We'll email you an acknowledgment with a link to <a href="edit?id={{ app.id }}" target="_blank">manage your reservation</a>.
      {% if not c.ART_SHOW_WAITLIST or c.BEFORE_ART_SHOW_WAITLIST %}You may change your request up until March 31.
      After that, the Art Show team will determine whether there is enough space to fulfill your request, and then{% else %}
      The Art Show Team will determine whether there is enough space to fulfill your request, after which{% endif %}
      we'll send you an email letting you know of your reservation's status.
    </p>

    <p>If you have any questions, please email us at <a href="mailto:{{c.ART_SHOW_EMAIL}}">{{ c.ART_SHOW_EMAIL }}</a>.</p>
  </div>
</div>
{% endblock %}
