<html>
<head></head>
<body>

You have updated your artist information for the {{ c.EVENT_NAME }} Art Show:
<ul>
    {% if not app.incomplete_reason and not app.is_unpaid %}
    <li><strong>Banner Name</strong>: {{ app.display_name }}</li>
    <li><strong>Name on Check</strong>: {{ app.check_payable or app.attendee.legal_first_name ~ " " ~ app.attendee.legal_last_name }}</li>
    {% if app.address1 %}
    <li><strong>Address</strong>: {{ app.address1 }}{% if app.address2 %}, {{ app.address2 }}{% endif %}, {{ app.city }}, {{ app.region }}, {{ app.zip_code }}</li>
    {% endif %}
    {% if app.hotel_name %}<li><strong>Hotel Staying At</strong>: {{ app.hotel_name }}</li>{% endif %}
    {% if app.hotel_name %}<li><strong>Room Number</strong>: {{ app.hotel_room_num }}</li>{% endif %}
    {% endif %}
    {% if app.artist_name %}<li><strong>Artist Name</strong>: {{ app.artist_name }}</li>{% endif %}
    <li><strong>General Wall Spaces</strong>: {{ app.panels }} panels{% if c.ART_SHOW_HAS_FEES %} ({{ app.default_panel_cost|format_currency }}) {% endif %}</li>
    <li><strong>General Table Sections</strong>: {{ app.tables }} table sections{% if c.ART_SHOW_HAS_FEES %} ({{ app.default_table_cost|format_currency }}) {% endif %}</li>
    <li><strong>Mature Wall Spaces</strong>: {{ app.panels_ad }} mature panels{% if c.ART_SHOW_HAS_FEES %} ({{ app.default_mature_panel_cost|format_currency }}) {% endif %}</li>
    <li><strong>Mature Table Sections</strong>: {{ app.tables_ad }} mature table sections{% if c.ART_SHOW_HAS_FEES %} ({{ app.default_mature_table_cost|format_currency }}) {% endif %}</li>
    {% if c.ART_SHOW_HAS_FEES %}<li><strong>Total Price</strong>: {{ app.potential_cost|format_currency }}{% if app.delivery_method == c.BY_MAIL and c.ART_MAILING_FEE %} (including {{ app.default_mailing_fee_cost|format_currency }} mailing fee){% endif %}</li>{% endif %}
    {% if app.special_needs %}<li><strong>Special Requests</strong>: {{ app.special_needs }}</li>{% endif %}
    {% if app.attendee.badge_status == c.NOT_ATTENDING and not c.INDEPENDENT_ART_SHOW %}<li>You will not be attending {{ c.EVENT_NAME }} and thus will
    not be issued a badge. If you expect this to change, please contact the art show staff at {{ c.ART_SHOW_EMAIL }}
    {% endif %}
    {% if app.website %}<li><strong>Website URL</strong>: {{ app.website }}</li>{% endif %}
</ul>

<p>
    <a href="{{ c.URL_BASE }}/art_show_applications/edit?id={{ app.id }}">Click here</a> to add more pieces or make more changes.
</p>

</body>
</html>
